@import "menu";

.logo {
    margin: 0;
    text-transform: uppercase;

    a {
        text-decoration: none;
        color: $black;
    }
}

header {
    background: white;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 0.5rem;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-top: 2px solid $primary-color;
}

@media screen and (min-width: 800px) {
    .btn-menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        grid-template-rows: auto;
    }

    .logo {
        grid-column: 2/3;
        font-weight: 500;
        font-size: 40px;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            li {
                margin-left: 3em;
                margin-bottom: 0;
                a {
                    opacity: 1;
                    color: $grey;
                    position: relative;
                    text-decoration: none;
                    font-size: 1.2rem;
                    &::before {
                        content: '';
                        display: block;
                        height: 2px;
                        background: $secondary-color;
                        top: -1em;
                        left: 0;
                        right: 0;
                        @include scale(0, 1);
                        transition: transform ease-in-out 250ms;
                    }
                    &:hover::before {
                        @include scale(1, 1);
                        height: 2px;
                    }
                }
            }
        }
    }
}