@import "config";
@import "header";
@import "footer";

main {
    max-width: 990px;
    margin: 0 auto;
    padding-top: 5rem;

    ul {
        columns: 350px;
        break-inside: avoid;
        margin: 0px 20px;
        padding: 0;
        li {
            list-style-type: none;
            img {
                width: 100%;
                display: block;
                object-fit: cover;
                margin-top: 0px;
                margin-bottom: 20px;
                // border: 1px solid black;
                box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);

                &:hover {
                    box-shadow: 0px 6px 12px 0 hsla(0, 0%, 0%, 0.6);
                    cursor: pointer;
                    @include easeOut;
                }
            }
        }
    }
}

.main-gallery-contents {
    max-width: 990px;
    margin: 0 auto;

    ul {
        columns: 200px;
        break-inside: avoid;
        margin: 0px 20px;
        padding: 0;
        li {
            list-style-type: none;
            img {
                width: 100%;
                display: block;
                object-fit: cover;
                margin-top: 0px;
                margin-bottom: 20px;
                // border: 1px solid black;
                box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            }
        }
    }
}

.about-container {
    display: flex;
    margin: 5rem auto;
    align-items: center;
    justify-content: center;
    max-width: 990px;
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 1px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    .profile {
        &-img {
            margin-right: 1rem;
            img {
                min-width: 170px;
                min-height: 170px;
                width: 100%;
                float: left;
                border: 2px solid $secondary-color;
                border-radius: 50%;
                margin-right: 2em;
            }
        }
        &-text {
            h1 {
                font-size: 2.5rem;
                font-weight: 500;
                margin: 0;
                color: $black;
            }
            h2 {
                margin-top: 0;
                font-weight: 400;
                color: $light-grey;
            } 
            p {
                color: $light-grey;
            }
        }
    }
}
@media (max-width: 600px) {
    .about-container {
        display: block;
        margin: 4.5rem auto;
        border: 0;
    }
    .profile {
        &-img {
            img {
                width: 100%;
                float: left;
                border: 2px solid $secondary-color;
                border-radius: 50%;
                margin-right: 2em;
                margin-bottom: 24px;
            }
        }
    }
}

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
    p::first-letter {
        color: rgba(255,190,150,0.9);
        font-weight: bold;
        margin-right: 0.5em;

        -webkit-initial-letter: 4;
        initial-letter: 4;
    }
}